<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
 
       <h1>Details 0f {{detail.name}}</h1>
       <a href="/index">Home</a>
        <table>
                <tr><td>Shares held</td><td>{{detail.shares}}</td></tr>
                <tr><td>Price per share</td><td>£{{detail.price}}</td></tr>
                <tr><td>Total value</td><td>£{{'{:,.2f}'.format(detail.value)}}</td></tr>
                <tr><td>Cost</td><td>£{{'{:,.2f}'.format(detail.cost)}}</td></tr>
                {% if detail.profit <  0 : %}
                    <tr><td>Profit</td><td>-£{{'{:,.2f}'.format(detail.profit)}}</td></tr>
                {% else: %}
                    <tr><td>Profit</td><td>£{{'{:,.2f}'.format(detail.profit)}}</td></tr>
                {% endif %}
                <tr><td>Date of recording</td><td>{{detail.timestamp}}</td></tr>
        </table>
       <a href="/index">Home</a>
    </body>
</html>
